@font-face {
  font-display: swap;
  font-family: 'Maple Mono';
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/MapleMono-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Maple Mono';
  font-style:  normal;
  font-weight: 600;
  src: url("../fonts/MapleMono-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Maple Mono';
  font-style:  normal;
  font-weight: 800;
  src: url("../fonts/MapleMono-Bold.woff2") format("woff2");
}
